<!DOCTYPE html>
<html>
<head>
  <title>Lista de productos</title>
</head>
<body>
  <script>
    var products = [
      {id: 1, nombre: 'Producto 1', precio: 10.50, num_existencias: 5, descripcion: 'Descripción del producto 1', informacion: 'Información adicional del producto 1'},
      {id: 2, nombre: 'Producto 2', precio: 20.00, num_existencias: 3, descripcion: 'Descripción del producto 2', informacion: 'Información adicional del producto 2'},
      {id: 3, nombre: 'Producto 3', precio: 15.75, num_existencias: 8, descripcion: 'Descripción del producto 3', informacion: 'Información adicional del producto 3'}
    ];
  </script>
  
  <h1>Lista de productos</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Número de existencias</th>
        <th>Descripción</th>
        <th>Informacion</th>
        
      </tr>
    </thead>
    <tbody>
      <% if (Array.isArray(products)) { %>
        <% products.forEach(function(product) { %>
          <tr>
            <td><%= product.id %></td>
            <td><%= product.nombre %></td>
            <td><%= product.precio %></td>
            <td><%= product.num_existencias %></td>
            <td><%= product.descripcion %></td>
            <td><%= product.informacion %></td>
          </tr>
        <% }); %>
      <% } else { %>
        <tr>
          <td colspan="5">No se encontraron productos.</td>
        </tr>
      <% } %>
    </tbody>
    
  </table>
</body>
</html>
